<html xmlns:th="http://www.thymeleaf.org">
  <style>
    img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
    }
    .body {
      color: #005f0f;
      background-color: #ececec;
      text-align: center;
      padding: 50px;
      border-radius: 8px;

      width: 666px;
    }
  </style>

  <!-- The context passed here is the dog Model Class so it will only have the properties of Dog Model -- huhu !! -->

  <div class="body">
    <h2>
      <i style="text-shadow: none"
        ><img
          src="https://www.thymeleaf.org/doc/images/thymeleaf.png"
          alt="Thymeleaf logo"
        /><br />Thyyme LEaf AEM Component</i
      >
    </h2>
    <br />
    <br />
    <!--Regular passing and showing the values -->
    <p
      th:utext="${'<b>The name of the Dog from the Model : </b> ' + dog.name}"
    ></p>
    <p
      th:utext="${'<b>The breed of the Dog from the Model : </b> ' + dog.breed}"
    ></p>

    <p>
      <b>The Number of Letters in Dog's Name : - </b
      ><span
        th:utext="${dog.getDogNameLength(dog.name)}"
        value="somevalue"
        th:value="${dog.name}"
      ></span>
    </p>
    <p
      th:utext="'<b>Passing some random names as [name] as adittional context :- </b>'+ ${name.toUpperCase()}"
    ></p>

    <div th:object="${#calendars.createToday()}">
      <p
        th:utext="${'<b>Getting a standard Time Zone Name from Java Calender :  </b>' + #object.getTimeZone().getDisplayName()}"
      ></p>
    </div>

    <b
      >Todays's Date -
      <p th:utext="${ #dates.createNow()}"></p
    ></b>

    <span th:utext="'<b>what is 2020 + 2  ???? </b>' + (2020 + 2)">1494</span>

    <br />
    <br />

    <b>Thyme Leaf Has SWitch CAse</b>

    <div th:switch="${dog.name}">
      <p th:case="'Admin'">Dog is an administrator</p>
      <p th:case="*">
        Dog is not we are searching for hihi !! is some other thing
      </p>
    </div>

    <div th:insert="~{ :: copy(${dog.name},${dog.breed})}"></div>

    <div th:with="dogName=${dog.name}">
      <p>
        <span
          th:utext="'<b>The dog name with [with] variable is </b>' + ${dogName}"
        ></span>
      </p>

      <p><b>Hello this is the Name again with inline </b> [[${dog.name}]]</p>

      <br />
      <br />

      <div th:each="favourite : ${dog.favourites}">
        <p th:utext="${'<b>'+favourite+'</b>'}"></p>
      </div>

      <p>From vsCode</p>
    </div>
  </div>

  <!--<div th:fragment="copy(dogname,dogbreed)" th:remove="${#strings.isEmpty(dogname) ? all : none}">
<p th:utext="'dogname is ' + ${dogname} + ' and breed is ' + ${dogbreed}">Some name</p> 
</div> -->

  <div
    th:fragment="copy(dogname,dogbreed)"
    th:if="${not #strings.isEmpty(dogname)}"
  >
    <p
      th:utext="'<b>dogname</b> is From <b>Template</b> is ' + ${dogname} + ' and breed is from template ' + ${dogbreed}"
    >
      Some name
    </p>
  </div>
</html>
